body {
	width:100%;
	height:100%;
	background-color:#CCC;
}

.content-wrapper {
	padding:10px;
}

.sidebar-list {
	float: left; 
	width: 20%; 
	margin:5px;
}

.message-wrapper {
	float:left;
	background-color:white;
	min-height: 100px;
	width:72%;
	margin:5px;
}